.auto{
  margin:0% 25%
}
.center{
  display: flex;
  /* justify-content: center; */
  vertical-align: center;
}
.border{
  border: 1px solid black;
  border-radius: 0.5rem;
}
.p-2{
  padding:0.5rem;
  margin-top:0.5rem;
  margin-right:0.5rem;
  margin-bottom:1rem;
}
button{
  border-radius: 5px;
  cursor: pointer;
}
.fs-10{
  font-size: 0.75rem;
  font-weight: bold;
}

.display{
  margin: 0.75rem 0rem;
  padding: 1rem
}
.p1{
  padding:0.5rem 0rem
}
.bold{
  font-weight: 600;
}
.w60{
  width:80%;
}